In [80]:
import pandas as pd
import geocoder

In [81]:
education_df = pd.read_csv("university_df.csv")
education_df = education_df.drop("endYear", 1)
education_df[['startYear']] = education_df[['startYear']].fillna(value = 2017)

In [82]:
education_df = education_df[education_df.country.notnull()]

In [83]:
# education_df_empty_country = education_df[pd.isnull(education_df).any(axis=1)]

In [84]:
# school_country_dict = dict()
# names = education_df_empty_country['name'].unique()
# for name in names:
#     g = geocoder.google(name)
#     school_country_dict.update({name: g.country})

In [85]:
# for index, row in education_df_empty_country.iterrows():
#     country = school_country_dict.get(row['name'])
#     education_df.set_value(index, 'country', country)

# Insert actual ethnicity
# Insert type of the start year
### Type 1 > type 2 > type 3 ...
### Type 1 is farthest from now

In [86]:
def convert_actual_ethnicity(ethnicity):
    if ethnicity == 'White/Caucasian':
        return 'White'
    elif ethnicity == 'Hispanic/Latino':
        return 'Hispanic'
    elif ethnicity == 'Other/Multiracial':
        return 'Other'
    elif ethnicity == 'Black/African American':
        return 'Black'
    return ethnicity

In [87]:
education_df['actual_ethnicity'] = ''
education_df['type_year'] = ''
cand_infor_df = pd.read_csv("candilate_infor_crawed.csv")
for index, row in cand_infor_df.iterrows():
    cand_id = row['cand_id']
    actual_ethnicity = row['ethnicity']
    
    search_result = education_df[education_df.cand_id == cand_id]
    search_result = search_result.sort_values(['startYear'], ascending=True)
    
    i = 1
    for index_2, row_2 in search_result.iterrows():
        education_df.set_value(index_2, 'actual_ethnicity', convert_actual_ethnicity(actual_ethnicity))
        education_df.set_value(index_2, 'type_year', "type_"+str(i))
        i = i + 1

In [88]:
education_df = education_df[(education_df.type_year == 'type_1') \
                        | (education_df.type_year == 'type_2')\
                        | (education_df.type_year == 'type_3')]

In [89]:
# education_statistic = education_df[['type_year', 'country', 'actual_ethnicity', 'cand_id']].groupby(['type_year', 'country', 'actual_ethnicity']).agg(['count'])

In [90]:
# education_statistic.to_csv("education_statistic.csv")

# Statistic education

In [91]:
country_eth = pd.read_csv("country_ethnicity.csv", na_values='', keep_default_na = False)

In [92]:
education_df['predict_score'] = 0.0
education_df.head()

,cand_id,country,name,startYear,actual_ethnicity,type_year,predict_score
0,0,US,b'Foothill College',2017.0,White,type_3,0.0
1,0,CZ,b'ASEM',2002.0,White,type_2,0.0
2,0,US,b'MSU',2001.0,White,type_1,0.0
4,1,CN,b'Lanzhou University',2017.0,Asian,type_3,0.0
5,1,CN,b'Lanzhou University',1999.0,Asian,type_1,0.0

In [93]:
for index, row in education_df.iterrows():
    country_ethinicity = \
        country_eth[country_eth.country_code == row['country']].iloc[0]
    education_df.set_value(index, 'predict_score', \
                           country_ethinicity[row['actual_ethnicity']])

In [94]:
education_df[['predict_score']] = education_df[['predict_score']].fillna(value = 0)

,cand_id,country,name,startYear,actual_ethnicity,type_year,predict_score
0,0,US,b'Foothill College',2017.0,White,type_3,0.75
1,0,CZ,b'ASEM',2002.0,White,type_2,1.00
2,0,US,b'MSU',2001.0,White,type_1,0.75
4,1,CN,b'Lanzhou University',2017.0,Asian,type_3,1.00
5,1,CN,b'Lanzhou University',1999.0,Asian,type_1,1.00
6,1,CN,b'Lanzhou University',2003.0,Asian,type_2,1.00
7,2,US,b'Udacity',2017.0,White,type_3,0.75
8,2,RU,b'Kuban State University',2005.0,White,type_1,1.00
9,2,US,b'Udacity',2015.0,White,type_2,0.75
10,3,US,b'Michigan Techological University',2005.0,White,type_1,0.75
12,4,BY,b'Belarusian State Agrarian Technical University',1985.0,Hispanic,type_2,NaN
13,4,US,b'San Francisco State University',2002.0,Hispanic,type_3,0.05
14,4,ET,b'Addis Ababa Tegbareed Industrial Technology ...,1982.0,Hispanic,type_1,NaN
15,5,CA,b'Ryerson University',2017.0,White,type_2,0.98
16,5,CA,b'Ryerson University',2001.0,White,type_1,0.98
20,6,US,b'De Anza College',1997.0,White,type_1,0.75
21,6,US,b'Oakland Community College',1999.0,White,type_2,0.75
22,6,US,b'Central Michigan University',2000.0,White,type_3,0.75
23,7,RU,b'Novosibirsk State University (NSU)',2017.0,White,type_1,1.00
24,7,RU,b'Novosibirsk State University (NSU)',2017.0,White,type_2,1.00
27,8,US,b'Philadelphia University',1992.0,White,type_1,0.75
28,8,US,b'Delaware Technical Community College',1996.0,White,type_2,0.75
29,8,US,b'Drexel University',2000.0,White,type_3,0.75
33,9,US,"b'University of California, Santa Cruz'",2002.0,Asian,type_3,0.03
34,9,PH,b'University of the Philippines',1985.0,Asian,type_1,1.00
35,9,US,b'Stanford University',1991.0,Asian,type_2,0.03
39,10,US,b'University of Idaho',1985.0,White,type_1,0.75
40,10,US,b'Eastern Washington University',1986.0,White,type_2,0.75
41,10,US,b'Old Dominion University',1988.0,White,type_3,0.75
42,11,US,b'University of Michigan',2017.0,White,type_3,0.75
...,...,...,...,...,...,...,...
4427,2221,FR,b'Professional school of photography (Lyon - F...,2002.0,White,type_2,1.00
4428,2221,FR,"b'ESIDEC, Business school (Metz - France)'",1997.0,White,type_1,1.00
4430,2222,FR,b'Paris-Sud University (Paris XI)',2017.0,White,type_3,1.00
4432,2222,NL,b'Delft University of Technology',2006.0,White,type_2,1.00
4433,2222,PK,b'GIK Institute of Engineering Sciences and Te...,2002.0,White,type_1,NaN
4438,2223,CZ,"b'University of Economics, Prague'",1998.0,White,type_1,1.00
4439,2223,CZ,b'Charles University in Prague',1998.0,White,type_2,1.00
4440,2223,AT,b'WU (Vienna University of Economics and Busin...,2003.0,White,type_3,1.00
4441,2224,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,2017.0,White,type_2,0.89
4442,2224,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,1999.0,White,type_1,0.89
4443,2224,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,2017.0,White,type_3,0.89
4444,2225,BE,b'University of Antwerp',2017.0,White,type_3,0.89
4445,2225,BE,b'University of Antwerp',1983.0,White,type_2,0.89
4446,2225,BE,b'Xaveriuscollege',1973.0,White,type_1,0.89
4447,2226,BE,b'KTA Vilvoorde',2017.0,White,type_1,0.89
4448,2227,BE,b'KU Leuven',2017.0,White,type_2,0.89
4449,2227,BE,b'Katholieke Universiteit Leuven',2006.0,White,type_1,0.89
4452,2228,BE,b'KU Leuven',2017.0,White,type_2,0.89
4453,2228,BE,b'Sint-Amandscollege Kortrijk',2017.0,White,type_3,0.89
4455,2228,BE,b'Katholieke Universiteit Leuven',1992.0,White,type_1,0.89
4456,2229,BE,b'Haute Ecole de Bruxelles',2017.0,White,type_1,0.89
4461,2230,BE,b'Katholieke Hogeschool Leuven',2002.0,White,type_3,0.89
4462,2230,BE,b'Sint-Albertuscollege Haasrode',1996.0,White,type_1,0.89
4463,2230,BE,b'Koninklijk Atheneum 2 Ring Leuven',2000.0,White,type_2,0.89
4465,2231,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,2017.0,White,type_3,0.89
4466,2231,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,1993.0,White,type_1,0.89
4468,2231,BE,b'Universit\xc3\x83\xc2\xa9 catholique de Louv...,1997.0,White,type_2,0.89
4469,2232,BE,b'Haute Ecole de la Communaut\xc3\x83\xc2\xa9 ...,2017.0,White,type_2,0.89
4470,2232,BE,b'Haute Ecole de la Communaut\xc3\x83\xc2\xa9 ...,2017.0,White,type_3,0.89
4472,2232,BE,b'Haute Ecole de la Communaut\xc3\x83\xc2\xa9 ...,1996.0,White,type_1,0.89